@font-face {
  font-family: 'manuelosorio-iconfont';
  src:  url('../fonts/manuelosorio-iconfont.eot?cn4xn5');
  src:  url('../fonts/manuelosorio-iconfont.eot?cn4xn5#iefix') format('embedded-opentype'),
    url('../fonts/manuelosorio-iconfont.ttf?cn4xn5') format('truetype'),
    url('../fonts/manuelosorio-iconfont.woff?cn4xn5') format('woff'),
    url('../fonts/manuelosorio-iconfont.svg?cn4xn5#manuelosorio-iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mo-"], [class*=" mo-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'manuelosorio-iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mo-arrow-down:before {
  content: "\e900";
}
.mo-arrow-left:before {
  content: "\e901";
}
.mo-arrow-right:before {
  content: "\e902";
}
.mo-arrow-up:before {
  content: "\e903";
}
.mo-calander:before {
  content: "\e904";
}
.mo-cart:before {
  content: "\e905";
}
.mo-comment:before {
  content: "\e906";
}
.mo-comment-outline:before {
  content: "\e907";
}
.mo-gear:before {
  content: "\e908";
}
.mo-heart-fill:before {
  content: "\e909";
}
.mo-heart-outline:before {
  content: "\e90a";
}
.mo-location:before {
  content: "\e90b";
}
.mo-minus:before {
  content: "\e90c";
}
.mo-plus:before {
  content: "\e90d";
}
.mo-search:before {
  content: "\e90e";
}
.mo-star-fill:before {
  content: "\e90f";
}
.mo-star-half-fill:before {
  content: "\e910";
}
.mo-star-outline:before {
  content: "\e911";
}
.mo-thumbs-down:before {
  content: "\e912";
}
.mo-thumbs-up:before {
  content: "\e913";
}
.mo-user:before {
  content: "\e914";
}
.mo-user-circle:before {
  content: "\e915";
}
.mo-user-multiple:before {
  content: "\e916";
}
