footer.footer
  .container.space-between
    a(href="./").footer--logo
      include ../svg/logo.html
    .footer--group
      .footer--links
        h3 INFO
        ul.footer--list
          li
            a(href="#") About Us
          li
            a(href="#") Contact
          li
            a(href="#") Reviews
          li
            a(href="#") Careers     
      .footer--links
        h3 FOLLOW COVERLY
        ul
          li
            a(href="#") Instagram
          li
            a(href="#") Facebook
          li
            a(href="#") Twitter
          li
            a(href="#") Youtube
  .container.copyright
    p.footer--copyright &copy; 2019 Coverly, Design Copyright by Respective Owners
