nav.nav
  .nav--container
    a(href="./").nav--logo
      include ../svg/logo.html
    .nav--hamburger
      div
      div
      div
    ul.nav--list
      li.nav--link
        a(href="./") Home
      li.nav--link 
        a(href="#") Apple
      li.nav--link 
        a(href="#") Samsung
      li.nav--link 
        a(href="#") Case Builder
      li.nav--link 
        a(href="#") FAQ
    .nav--user
      .user--welcome
        p Welcome back 
          em Manuel
      .user--group
        .user--avatar
          img(src="./images/profile.jpg" alt="")
        .user--profile
        i.mo-arrow-right.user--arrow
