doctype html
html
  head
    title Coverly - Adam Bradley
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Coverly is a platform where cases can be sold or bought")
    meta(name="theme-color" content="#34BDB4")
    meta(name="msapplication-navbutton-color" content="#34BDB4")
    meta(meta name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  body
    include includes/partials/nav.pug
    include includes/partials/shopping-cart.pug
    main
    include includes/partials/footer.pug
    script(src="scripts/script.js")
