doctype html
html
  head
    title Coverly - Checkout
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Coverly is a platform where cases can be sold or bought")
    meta(name="theme-color" content="#34BDB4")
    meta(name="msapplication-navbutton-color" content="#34BDB4")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  body
    include includes/partials/nav.pug
    main.shopping-cart
      h2 Shopping Cart

    form.form
      fieldset.form--fieldset.container
        legend.form--legend Shipping Information
        .form--content.row.wrap
          .form--group.column.medium-6
            input(type="text" name="").form--input
            label.form--label First Name
          .form--group.column.medium-6
            input(type="text" name="").form--input
            label.form--label Last Name
          .form--group.column.medium-8
            input(type="text" name="").form--input
            label.form--label Shipping Address
          .form--group.column.medium-4
            input(type="text" name="").form--input
            label.form--label Zip Code
          .form--group.column.medium-7
            input(type="text" name="").form--input
            label.form--label City
          .form--group.column.medium-5
            input(type="text" name="").form--input
            label.form--label State
      .container
        label.form--checkbox-container(for="checkbox")
          input(type="checkbox")#checkbox
          span.form--checkbox &nbsp;
          | Using Shipping Information for Billing
      fieldset.form--fieldset.container
        legend.form--legend Billing Information
        .form--content.row.wrap
          .form--group.column.medium-6.hideable
            input(type="text" name="").form--input
            label.form--label First Name
          .form--group.column.medium-6.hideable
            input(type="text" name="").form--input
            label.form--label Last Name
          .form--group.column.medium-3
            select.form--input
              option 
              option Credit Card
              option Paypal
            label.form--label Payment Method
          .form--group.column.medium-3
            input(type="text" name="").form--input
            label.form--label Cardnumber
          .form--group.column.medium-2
            select.form--input
              option 
              option Jan
              option Feb
              option Mar
              option Apr
              option May
              option June
              option July
              option Aug
              option Sept
              option Nov
              option Dec
            label.form--label Month
          .form--group.column.medium-2
            select.form--input
              option 
              option 2019
              option 2020
              option 2021
              option 2022
            label.form--label Year
          .form--group.column.medium-2
            input(type="text" name="").form--input
            label.form--label cvv
          .form--group.column.medium-2
            input(type="text" name="").form--input
            label.form--label Zip  
          .form--group.column.small-10.hideable
            input(type="text" name="").form--input
            label.form--label Billing Address
      .container
        a(href="./cart.html").button.column.medium-4 Go Back
        a(href="#").button.button--filled.column.medium-4 Order Now
    include includes/partials/footer.pug
    script(src="scripts/script.js")
